<header>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <div class="container">
            <div class="col-10 align-self-start">
                <a class="navbar-brand" href="{{url_for('index')}}">TV SERIES</a>
                <a class="navbar-brand" href="{{url_for('index')}}">Go To Home</a>
            </div>
            <div class="col-2 align-self-end">
                {%if 'username' not in session%}
                    <a class="btn btn-primary" href="{{url_for('showLogin')}}" role="button">Login</a>
                {%else%}
                    <a class="btn btn-danger" href="{{url_for('gdisconnect')}}" role="button">Logout</a>
                {%endif%}
            </div>
        </div>
    </nav>
</header>